<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <setup>
    <SQL connectionString="Data Source=VMTIMAC; Initial Catalog=yokohama_prod;Uid=sa;Pwd=Expertone.1"/>
    <DI server="VMTIMAC" database="yokohama_prod" user="manager" pass="expert" dbuser="sa" dbpass="Expertone.1" idioma="ES" versionSQL="SQL2012" licenseServer="VMTIMAC:30000"/>
    <!--<SQL connectionString="Data Source=vmdes-9-2; Initial Catalog=SBOPruebasEXPRO;Uid=sa;Pwd=Expertone.1"/>
    <DI server="vmdes-9-2" database="SBOPruebasEXPRO" user="manager" pass="exou523*" dbuser="sa" dbpass="Expertone.1" idioma="ES" versionSQL="SQL2012" licenseServer="vmdes-9-2:30000"/>-->
  </setup>
</configuration>
